<!DOCTYPE html>
<html>
  <head>
    <title>Pawbo 客服</title>
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<meta name="description" content="">
  	<meta name="author" content="">
  	<meta name="author" content="">
    <!-- <base href="<%=sails.config.myurl.url%>"> -->
    <!--STYLES-->
    <!--<link rel="stylesheet" href="/styles/importer.css">-->
    <!--STYLES END-->
    <!--CSS-->
  	<link href="/bower/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  	<link href="/bower/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet">
  	<link href="/bower/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  	<link href="/bower/bootcomplete/dist/bootcomplete.css" rel="stylesheet">
    <link href="/bower/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <link href="/bower/jquery-fileupload/css/jquery.fileupload.css" rel="stylesheet">
  	<link href="/styles/sb-admin-2.css" rel="stylesheet">
    <link href="/styles/style.css" rel="stylesheet">
    <!--CSS END-->
    <!--JS-->
    <script src="/bower/jquery/dist/jquery.min.js"></script>
    <script src="/bower/moment/min/moment.min.js"></script>
    <script src="/bower/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/bower/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="/bower/sweetalert2/dist/sweetalert2.min.js"></script>
    <script src="/bower/bootcomplete/dist/jquery.bootcomplete.js"></script>
    <script src="/js/jquery.form.min.js"></script>
    <script src="/bower/jquery-fileupload/js/jquery.ui.widget.js"></script>
    <script src="/bower/jquery-fileupload/js/jquery.fileupload.js"></script>
    <%- partial("../common_variable") %>
    <!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--JS END-->
  </head>
  <body class="fullBg user">
    <%- body %>
    <!--TEMPLATES-->
    <!--TEMPLATES END-->
    <!--SCRIPTS-->
    <!--<script src="/js/dependencies/sails.io.js"></script>-->
    <!--SCRIPTS END-->
  </body>
</html>
